#logo-section{
    transition: background .2s ease-in;
    >*{

        transition: opacity .2s;
    }
}
body.faded{
 #logo-section{
     
    background: $bg-color-primary;
    >*{
      opacity: 0;
    }
  }
  .triangles{
      opacity: 0 !important;
      transition-property: opacity;
      transition-duration:  .2s !important;
      transition-delay: 0s !important;
  }
}