html, body, :root {
  width: 100%;
  overflow-X: hidden;
}

#overlay {
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  margin: 1em;
  width: 95%;
  max-width: 50em;
  border-radius: 4px;
}

#overlay p {
  text-align: justify;
  text-align-last: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

#overlay .hashtags span {
  text-transform: uppercase;
  color: rgba(120, 120, 120, 0.4);
  font-size: 0.8em;
}

#overlay .hashtags span:hover {
  color: rgba(120, 120, 120, 0.7);
}

#overlay img {
  max-height: 20rem;
  max-width: 100%;
  width: auto;
  height: auto;
  -webkit-box-shadow: 0px 0px 3px -1px #131313;
          box-shadow: 0px 0px 3px -1px #131313;
  float: right;
}

#overlay .big-img {
  width: 100%;
  height: 10rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

#overlay #inner-wrapper {
  max-width: 40rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  margin: auto;
}

#overlay h3 {
  text-transform: uppercase;
  text-align: center;
}

#overlay h4 {
  font-size: 1.1em;
}

#overlay h1, #overlay h2, #overlay h3, #overlay h4, #overlay h5 {
  font-family: 'Roboto Slab', sans-serif;
}

#overlay .credits {
  font-size: 0.9em;
}

#overlay.visible {
  opacity: 1;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

tr {
  text-align: left;
  -webkit-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: .5em;
  vertical-align: top;
}

td:last-child {
  text-align: right;
  color: white;
}

#overlay table {
  color: #cb8b8b;
}

#overlay table.produkce {
  color: #8bcb8b;
}

/* TEXT, FONT
1.Global settings
2.Headings
3.Links
*/
/* 1. Global settings */
html {
  font-size: 15px;
}

@media only screen and (min-height: 600px) {
  html {
    font-size: 2.5vh;
  }
}

body {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 1.1rem;
  color: #ebc112;
  text-align: center;
}

/* 2. Headings */
h1 {
  /*font-family: $font-normal;
	font-weight: $font-normal-weight;*/
}

h1, h2, h3, h4, h5, .button, header {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 4rem;
}

h1 img {
  width: 90%;
  height: auto;
}

@media only screen and (min-width: 320px) {
  h1 img {
    height: auto;
    width: 20rem;
  }
}

h2 {
  font-size: 3rem;
  color: #ebc112;
}

h2 img {
  height: 3.5rem;
  width: auto;
}

header h2 {
  margin-bottom: 0;
}

header em {
  font-size: .9em;
  opacity: .85;
}

h3 {
  font-size: 1.7rem;
}

/* 3. Links */
a {
  color: #eb123c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#logo-section {
  -webkit-transition: background .2s ease-in;
  transition: background .2s ease-in;
}

#logo-section > * {
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

body.faded #logo-section {
  background: #1a0025;
}

body.faded #logo-section > * {
  opacity: 0;
}

body.faded .triangles {
  opacity: 0 !important;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: .2s !important;
          transition-duration: .2s !important;
  -webkit-transition-delay: 0s !important;
          transition-delay: 0s !important;
}

.top-bar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  background-color: #1a0025;
  border-bottom: 1px solid rgba(235, 193, 18, 0.3);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.top-bar img {
  height: 70%;
  width: auto;
}

.faded .top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  padding: 0;
  margin: 0;
  background-color: #1a0025;
  background-blend-mode: normal;
  background-image: url("img/bg2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body > * {
  max-width: 100%;
  overflow: hidden;
}

body > section {
  width: 100%;
  padding-bottom: 4rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body > section .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem;
  width: 100%;
  max-width: 70rem;
}

body > section.footer {
  padding: 0 0 4px 0;
  color: #131114;
}

body > section.footer .content-wrapper {
  width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}

body > section.footer .content-wrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media only screen and (min-width: 998px) {
  .footer .content-wrapper {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: space-between !important;
        -ms-flex-align: space-between !important;
            align-items: space-between !important;
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
  .footer .content-wrapper > div {
    width: initial !important;
  }
}

.fullscreen {
  min-height: 26rem;
}

h1, h2, h3, h4, h5 {
  text-align: center;
}

h1 {
  text-shadow: rgba(20, 15, 22, 0.3) 1px 2px 0, rgba(20, 15, 22, 0.5) 1px 1px 0;
}

h2 {
  text-shadow: rgba(20, 15, 22, 0.3) 2px 3px 0, rgba(20, 15, 22, 0.5) -1px 1px 1px, rgba(20, 15, 22, 0.5) 1px 1px 0;
}

h3 {
  margin-top: 0.3rem;
  margin-bottom: 0.2rem;
}

#logo-section {
  position: relative;
}

.triangles {
  height: 30px;
  background-image: url("img/triangle.svg"), url("img/noise0.png");
  background-repeat: repeat-x, repeat-x;
  background-size: contain, contain;
  /*height: 1px;
  background-color: $text-color-low-contrast;*/
  width: 100%;
  content: '';
  z-index: 1;
}

.inverted {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

#ep-section {
  background-image: url("img/noise0.png");
  background-color: #1a0025;
  background-blend-mode: darken;
}

#cd-image {
  width: 100%;
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#cd-image #ep-player {
  border: none;
  width: 25rem;
  height: 42rem;
}

@media only screen and (min-width: 375px) {
  #cd-image #ep-player {
    height: 25rem !important;
  }
}

#right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30rem;
  font-size: 0.8em;
}

.arrow {
  font-size: 3rem;
  position: absolute;
  display: block;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-animation-name: arrow-anim;
          animation-name: arrow-anim;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes arrow-anim {
  0% {
    top: 85%;
    opacity: 0;
  }
  10% {
    top: 90%;
    opacity: 0.8;
  }
  20% {
    top: 85%;
    opacity: 0;
  }
  30% {
    top: 90%;
    opacity: 0.8;
  }
  100% {
    top: 85%;
    opacity: 0;
  }
}

@keyframes arrow-anim {
  0% {
    top: 85%;
    opacity: 0;
  }
  10% {
    top: 90%;
    opacity: 0.8;
  }
  20% {
    top: 85%;
    opacity: 0;
  }
  30% {
    top: 90%;
    opacity: 0.8;
  }
  100% {
    top: 85%;
    opacity: 0;
  }
}

@-webkit-keyframes appear-from-right {
  from {
    opacity: 0;
    -webkit-transform: translate(-15px, 0);
            transform: translate(-15px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes appear-from-right {
  from {
    opacity: 0;
    -webkit-transform: translate(-15px, 0);
            transform: translate(-15px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

#tracklist {
  text-align: left;
}

ol {
  text-align: left;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}

#page-loader {
  border: 6px solid white;
  border-top: 6px solid #1a0025;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -webkit-animation: page-loader-spin 2s linear infinite;
          animation: page-loader-spin 2s linear infinite;
  opacity: 0.8;
}

@-webkit-keyframes page-loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes page-loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.insta-icon, .fb-icon, .yt-icon, .sound-icon {
  height: 3.5rem;
  width: 3.5rem;
  background-image: url("img/icons/insta-alt1.svg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 48%;
  -webkit-transition: background-image 1s;
  transition: background-image 1s;
}

.insta-icon:hover, .fb-icon:hover, .yt-icon:hover, .sound-icon:hover {
  -webkit-transition: background-image 1s;
  transition: background-image 1s;
}

ul.social {
  position: relative;
  padding: 0;
  width: 30rem;
  max-width: 90%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

ul.social > li div {
  margin-left: auto;
  margin-right: auto;
}

ul.social > li div:hover {
  -webkit-transition: width .3s,height .3s;
  transition: width .3s,height .3s;
  width: 4em;
  height: 4em;
}

.insta-icon {
  background-image: url("img/icons/insta-alt1.svg");
}

.insta-icon:hover {
  background-image: url("img/icons/insta-alt1.svg"), url("img/icons/insta.svg");
}

.fb-icon {
  background-image: url("img/icons/fb-alt1.svg");
}

.fb-icon:hover {
  background-image: url("img/icons/fb-alt1.svg"), url("img/icons/fb.svg");
}

.yt-icon {
  background-image: url("img/icons/yt-alt1.svg");
}

.yt-icon:hover {
  background-image: url("img/icons/yt-alt1.svg"), url("img/icons/yt.svg");
}

.sound-icon {
  background-image: url("img/icons/sound-alt1.svg");
}

.sound-icon:hover {
  background-image: url("img/icons/sound-alt1.svg"), url("img/icons/sound.svg");
}

.navigation {
  width: 100vw;
}

.clickable {
  -webkit-transition: height .1s ease-out .05s, width .1s ease-out .05s, margin-top .1s ease-out .05s;
  transition: height .1s ease-out .05s, width .1s ease-out .05s, margin-top .1s ease-out .05s;
}

.footer .button {
  background-color: #1a0025;
}

.button {
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  display: inline-block;
  margin-top: 1rem;
  padding: .5rem;
  letter-spacing: .1rem;
  border: 1px solid rgba(235, 193, 18, 0.3);
  color: #ebc112 !important;
  border-radius: 7px;
}

.button > span {
  opacity: 1;
}

.button > span > strong {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.button:hover {
  background-color: #ebc112;
  color: #1a0025 !important;
  cursor: pointer;
}

.okecy {
  text-align: left;
  text-align: justify;
}

p {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  max-width: 40em;
  text-align: justify;
  text-align-last: center;
  color: #f8e69e;
}

p.last {
  text-align: right;
  text-align-last: right;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}

.fb-page {
  width: 20em;
}

@media all and (min-width: 580px) {
  .fb-page {
    width: 500px;
    width: attr(data-width);
  }
}

@media all and (max-width: 530px) {
  .fb-page {
    width: 100%;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #1a0025;
  }
}

.hr {
  border-top: 1px solid rgba(235, 193, 18, 0.25);
  height: 1px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.external, p a:after {
  text-decoration: none;
  height: 1em;
  width: 1em;
  display: inline-block;
  font-size: 1rem;
  content: ' ';
  background-image: url("img/external-link.png");
  background-size: .3em .3em;
  background-repeat: no-repeat;
  background-position: 50% 10%;
}

a {
  display: inline-block;
}

.padding-please {
  padding-left: .5em;
  padding-right: .5em;
}
/*# sourceMappingURL=style.css.map */